@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
:root {
  /* CSS HEX */
  --dark-magenta: #9c138f;
  --wisteria: #b695ce;
  --bone: #e3dfd1;
  --jet: #333333;
  --purple-pizzazz: #e74bda;
  --blue-violet-color-wheel: #511e6a;
}

body {
  background-color: #3a3240;
  text-align: center;
  font-family: 'Poppins',sans-serif;
  color: #aea8d3;
  margin: 0;
  padding: 0;
}

a {
  color: #aea8d3;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.footer{
    background-color: #0E2431;
    color: #fff;
    text-align: center;
    font-weight: 100;
    padding: 2rem 0;
}
.footer_title{
    font-size: 2rem;
    margin-bottom: 2rem;
}
.footer_social{
    margin-bottom: 2rem;
}
.footer_icon{
    font-size: 1.5rem;
    color: #fff;
    margin: 0 1rem;
}